.SiteSummary {
    max-width: 400px;

    .site-summary-header {
        display: flex;
        margin: 10px 0px;

        .site-icon {
            width: 30px;
            height: 30px;
            margin: auto 15px auto 0px;

            &.ACI {
                background-image: url('../../../static/icons/icon_apic.svg');
            }
            &.CloudACI{
                background-image: url('../../../static/icons/icon_cApic.svg');
            }
            &.DCNM {
                background-image: url('../../../static/icons/icon_dcnm.svg');
            }
        }
        .cloudapic {
            &.azure {
                width: 40px;
                height: 12px;
                margin: 25px auto auto 5px;
                background-image: url('../../../static/icons/Azure.svg');
            }
            &.aws {
                width: 26px;
                height: 15px;
                margin: 25px auto auto 5px;
                background-image: url('../../../static/icons/AWS.svg');
            }
            &.unknown {
                flex: 1;
            }
        }
        .site-title {
            flex: 1;
            .title {
                font-weight: bold;
                font-size: 80%;
            }
        }
    }
    .site-summary-body .divider {
        margin: 10px 0px;
    }

    .score-list,
    .resource-list,
    .site-app-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .resource-item,
        .score-item {
            width: 110px;
            flex: 1;
            margin: 0px 0px 0px 5px;
        }
    }
    .score-list {
        margin: 15px 0px;
    }
    .site-app-list {
        flex-wrap: wrap;
        justify-content: unset;
        .site-app {
            margin-top: 2px;
        }
    }
    .score-item,
    .site-app {
        margin: 0px 5px 2px 0px;

        &:last-child {
            margin-right: 0px;
        }
    }

    .resource-item {
        text-align: center;
        .item-count {
            font-size: 20px;
            margin-top: 5px;
        }
        .item-name {
            font-size: 12px;
        }
    }
}

.site-inline {
    display: flex;
    margin: 10px 0px;

    .site-icon {
        width: 20px;
        height: 20px;
        margin: auto 15px auto 0px;

        &.ACI {
            background-image: url('../../../static/icons/icon_apic.svg');
        }
        &.CloudACI {
            background-image: url('../../../static/icons/icon_cApic.svg');
        }
        &.DCNM {
            background-image: url('../../../static/icons/icon_dcnm.svg');
        }
    }
    .cloudapic {

        &.azure {
            width: 40px;
            height: 12px;
            margin: 5px auto auto 5px;
            background-image: url('../../../static/icons/Azure.svg');
        }
        &.aws {
            width: 25px;
            height: 15px;
            margin: 6px auto auto 5px;
            background-image: url('../../../static/icons/AWS.svg');
        }
    }
}

.site-selection {
    width: 40px;
    height: 40px;
    margin: auto 15px auto 0px;
    white-space: nowrap;

    &.ACI {
        background-image: url('../../../static/icons/icon_apic.svg');
    }
    &.CloudACI {
        background-image: url('../../../static/icons/icon_cApic.svg');
    }
    &.DCNM {
        background-image: url('../../../static/icons/icon_dcnm.svg');
    }
}

.naAnomaly {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    background: lightgrey !important;

    .icon-score-unknown {
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-image: url('../../../static/icons/anomaly-unknown.svg');
    }
    label {
        margin-left: 5px;
    }
}

.serviceUsed {
    color: #ffffff;
    font-size: 11px;
    border-radius: 2px;
    padding: 0px 5px;
    margin-bottom: 1px;
    width: fit-content;
}


.ant-app {
    background: #9b81ba !important;
}

.ant-app-others {
    background: #f59764 !important;
}
.advisory-success {
    color: #FBAB18
}
.cui.blueprint .popup .popup__content {
    border: 1px solid lightgray;
}
