.progressbar {
  margin: 20px 0;
  background: #dfdfdf;
  border-radius: 2rem;
  height: 5px; }
  .progressbar__fill {
    display: block;
    border-radius: 2rem; }
  .progressbar__label {
    display: block;
    margin-top: 2px; }
  .progressbar .progressbar__fill {
    height: 5px; }
  .progressbar.progressbar--small {
    height: 2px; }
    .progressbar.progressbar--small .progressbar__fill {
      height: 2px; }
  .progressbar.progressbar--large {
    height: 10px; }
    .progressbar.progressbar--large .progressbar__fill {
      height: 10px; }
  .progressbar .progressbar__fill {
    background-color: #017CAD; }
  .progressbar.progressbar--success .progressbar__fill {
    background-color: #6ebe4a; }
  .progressbar.progressbar--warning .progressbar__fill {
    background-color: #fbab18; }
  .progressbar.progressbar--indigo .progressbar__fill {
    background-color: #005073; }
  .progressbar[data-percentage="0"] .progressbar__fill {
    width: 0%; }
  .progressbar[data-percentage="1"] .progressbar__fill {
    width: 1%; }
  .progressbar[data-percentage="2"] .progressbar__fill {
    width: 2%; }
  .progressbar[data-percentage="3"] .progressbar__fill {
    width: 3%; }
  .progressbar[data-percentage="4"] .progressbar__fill {
    width: 4%; }
  .progressbar[data-percentage="5"] .progressbar__fill {
    width: 5%; }
  .progressbar[data-percentage="6"] .progressbar__fill {
    width: 6%; }
  .progressbar[data-percentage="7"] .progressbar__fill {
    width: 7%; }
  .progressbar[data-percentage="8"] .progressbar__fill {
    width: 8%; }
  .progressbar[data-percentage="9"] .progressbar__fill {
    width: 9%; }
  .progressbar[data-percentage="10"] .progressbar__fill {
    width: 10%; }
  .progressbar[data-percentage="11"] .progressbar__fill {
    width: 11%; }
  .progressbar[data-percentage="12"] .progressbar__fill {
    width: 12%; }
  .progressbar[data-percentage="13"] .progressbar__fill {
    width: 13%; }
  .progressbar[data-percentage="14"] .progressbar__fill {
    width: 14%; }
  .progressbar[data-percentage="15"] .progressbar__fill {
    width: 15%; }
  .progressbar[data-percentage="16"] .progressbar__fill {
    width: 16%; }
  .progressbar[data-percentage="17"] .progressbar__fill {
    width: 17%; }
  .progressbar[data-percentage="18"] .progressbar__fill {
    width: 18%; }
  .progressbar[data-percentage="19"] .progressbar__fill {
    width: 19%; }
  .progressbar[data-percentage="20"] .progressbar__fill {
    width: 20%; }
  .progressbar[data-percentage="21"] .progressbar__fill {
    width: 21%; }
  .progressbar[data-percentage="22"] .progressbar__fill {
    width: 22%; }
  .progressbar[data-percentage="23"] .progressbar__fill {
    width: 23%; }
  .progressbar[data-percentage="24"] .progressbar__fill {
    width: 24%; }
  .progressbar[data-percentage="25"] .progressbar__fill {
    width: 25%; }
  .progressbar[data-percentage="26"] .progressbar__fill {
    width: 26%; }
  .progressbar[data-percentage="27"] .progressbar__fill {
    width: 27%; }
  .progressbar[data-percentage="28"] .progressbar__fill {
    width: 28%; }
  .progressbar[data-percentage="29"] .progressbar__fill {
    width: 29%; }
  .progressbar[data-percentage="30"] .progressbar__fill {
    width: 30%; }
  .progressbar[data-percentage="31"] .progressbar__fill {
    width: 31%; }
  .progressbar[data-percentage="32"] .progressbar__fill {
    width: 32%; }
  .progressbar[data-percentage="33"] .progressbar__fill {
    width: 33%; }
  .progressbar[data-percentage="34"] .progressbar__fill {
    width: 34%; }
  .progressbar[data-percentage="35"] .progressbar__fill {
    width: 35%; }
  .progressbar[data-percentage="36"] .progressbar__fill {
    width: 36%; }
  .progressbar[data-percentage="37"] .progressbar__fill {
    width: 37%; }
  .progressbar[data-percentage="38"] .progressbar__fill {
    width: 38%; }
  .progressbar[data-percentage="39"] .progressbar__fill {
    width: 39%; }
  .progressbar[data-percentage="40"] .progressbar__fill {
    width: 40%; }
  .progressbar[data-percentage="41"] .progressbar__fill {
    width: 41%; }
  .progressbar[data-percentage="42"] .progressbar__fill {
    width: 42%; }
  .progressbar[data-percentage="43"] .progressbar__fill {
    width: 43%; }
  .progressbar[data-percentage="44"] .progressbar__fill {
    width: 44%; }
  .progressbar[data-percentage="45"] .progressbar__fill {
    width: 45%; }
  .progressbar[data-percentage="46"] .progressbar__fill {
    width: 46%; }
  .progressbar[data-percentage="47"] .progressbar__fill {
    width: 47%; }
  .progressbar[data-percentage="48"] .progressbar__fill {
    width: 48%; }
  .progressbar[data-percentage="49"] .progressbar__fill {
    width: 49%; }
  .progressbar[data-percentage="50"] .progressbar__fill {
    width: 50%; }
  .progressbar[data-percentage="51"] .progressbar__fill {
    width: 51%; }
  .progressbar[data-percentage="52"] .progressbar__fill {
    width: 52%; }
  .progressbar[data-percentage="53"] .progressbar__fill {
    width: 53%; }
  .progressbar[data-percentage="54"] .progressbar__fill {
    width: 54%; }
  .progressbar[data-percentage="55"] .progressbar__fill {
    width: 55%; }
  .progressbar[data-percentage="56"] .progressbar__fill {
    width: 56%; }
  .progressbar[data-percentage="57"] .progressbar__fill {
    width: 57%; }
  .progressbar[data-percentage="58"] .progressbar__fill {
    width: 58%; }
  .progressbar[data-percentage="59"] .progressbar__fill {
    width: 59%; }
  .progressbar[data-percentage="60"] .progressbar__fill {
    width: 60%; }
  .progressbar[data-percentage="61"] .progressbar__fill {
    width: 61%; }
  .progressbar[data-percentage="62"] .progressbar__fill {
    width: 62%; }
  .progressbar[data-percentage="63"] .progressbar__fill {
    width: 63%; }
  .progressbar[data-percentage="64"] .progressbar__fill {
    width: 64%; }
  .progressbar[data-percentage="65"] .progressbar__fill {
    width: 65%; }
  .progressbar[data-percentage="66"] .progressbar__fill {
    width: 66%; }
  .progressbar[data-percentage="67"] .progressbar__fill {
    width: 67%; }
  .progressbar[data-percentage="68"] .progressbar__fill {
    width: 68%; }
  .progressbar[data-percentage="69"] .progressbar__fill {
    width: 69%; }
  .progressbar[data-percentage="70"] .progressbar__fill {
    width: 70%; }
  .progressbar[data-percentage="71"] .progressbar__fill {
    width: 71%; }
  .progressbar[data-percentage="72"] .progressbar__fill {
    width: 72%; }
  .progressbar[data-percentage="73"] .progressbar__fill {
    width: 73%; }
  .progressbar[data-percentage="74"] .progressbar__fill {
    width: 74%; }
  .progressbar[data-percentage="75"] .progressbar__fill {
    width: 75%; }
  .progressbar[data-percentage="76"] .progressbar__fill {
    width: 76%; }
  .progressbar[data-percentage="77"] .progressbar__fill {
    width: 77%; }
  .progressbar[data-percentage="78"] .progressbar__fill {
    width: 78%; }
  .progressbar[data-percentage="79"] .progressbar__fill {
    width: 79%; }
  .progressbar[data-percentage="80"] .progressbar__fill {
    width: 80%; }
  .progressbar[data-percentage="81"] .progressbar__fill {
    width: 81%; }
  .progressbar[data-percentage="82"] .progressbar__fill {
    width: 82%; }
  .progressbar[data-percentage="83"] .progressbar__fill {
    width: 83%; }
  .progressbar[data-percentage="84"] .progressbar__fill {
    width: 84%; }
  .progressbar[data-percentage="85"] .progressbar__fill {
    width: 85%; }
  .progressbar[data-percentage="86"] .progressbar__fill {
    width: 86%; }
  .progressbar[data-percentage="87"] .progressbar__fill {
    width: 87%; }
  .progressbar[data-percentage="88"] .progressbar__fill {
    width: 88%; }
  .progressbar[data-percentage="89"] .progressbar__fill {
    width: 89%; }
  .progressbar[data-percentage="90"] .progressbar__fill {
    width: 90%; }
  .progressbar[data-percentage="91"] .progressbar__fill {
    width: 91%; }
  .progressbar[data-percentage="92"] .progressbar__fill {
    width: 92%; }
  .progressbar[data-percentage="93"] .progressbar__fill {
    width: 93%; }
  .progressbar[data-percentage="94"] .progressbar__fill {
    width: 94%; }
  .progressbar[data-percentage="95"] .progressbar__fill {
    width: 95%; }
  .progressbar[data-percentage="96"] .progressbar__fill {
    width: 96%; }
  .progressbar[data-percentage="97"] .progressbar__fill {
    width: 97%; }
  .progressbar[data-percentage="98"] .progressbar__fill {
    width: 98%; }
  .progressbar[data-percentage="99"] .progressbar__fill {
    width: 99%; }
  .progressbar[data-percentage="100"] .progressbar__fill {
    width: 100%; }

.cui.cui--animated .progressbar__fill {
  transition: width 1s; }
