# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
bazel-*
coverage.txt
coverage-extended.txt
coverage-minimal.txt
test/data/
*.orig
.idea/
coverage.html
tags
vendor/
.vscode/