@import '../../scss/app/utilities/variables.scss';
@import "../../scss/assets/sass/utilities/variables.scss";

.step-content {
    align-items: center;
    margin-top: 4px;
    padding: 5px;
    width: 180px;
    height: 40px;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;

    .step-icon {
        text-align: center;
        margin-right: 10px;
        margin-top: 3px;
    }

    .step-title {
        text-align: center;
        font-size: large;
        color: #79797d;
        margin-top: 3px;
    }
}

.step-content-selected {
    align-items: center;
    padding: 10px;
    width: 250px;
    height: 60px;
    border: 1px solid #d7eff5;
    background-color: #eaf6f4;
    box-shadow: #d7eff5;

    .step-icon {
        text-align: center;
        color: #4ba08f;
        margin-right: 10px;
        margin-top: 10px;
    }

    .step-title {
        text-align: center;
        font-size: x-large;
        color: #79797d;
        margin-top: 10px;
    }
}

.connecting-line {
    margin-top: 5px;
    border-bottom: 1px dotted #b7b7ba;
    height: 1px;
    width: 20px;
}