.full-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.divider--vertical > :after {
  color: #9e9ea2;
  content: '|';
  margin: 0 5px;
  padding: 0; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-bold {
  font-weight: bold !important; }

.text-muted {
  color: #9e9ea2; }

.text-normal {
  font-weight: normal !important; }

.text-light {
  font-weight: 200 !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.text-tiny {
  font-size: 8px !important;
  line-height: 8px !important; }

.text-xsmall {
  font-size: 10px !important;
  line-height: 10px !important; }

.text-small {
  font-size: 12px !important; }

.text-medium {
  font-size: 14px !important;
  line-height: 14px !important; }

.text-large {
  font-size: 16px !important;
  line-height: 16px !important; }

.text-xlarge {
  font-size: 24px !important;
  line-height: 24px !important; }

.text-huge {
  font-size: 48px !important;
  line-height: 48px !important; }

.text-goliath {
  font-size: 64px !important;
  line-height: 64px !important; }

.text-italic {
  font-style: italic !important; }

.text-ghost {
  color: #ffffff !important; }

.text-transparent-qtr {
  opacity: .25 !important; }

.monospace,
.text-monospace {
  font-family: Monaco, Inconsolata, Consolas, "Courier New", Courier, "Lucida Console", monospace !important; }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-noellipsis {
  white-space: normal; }

.text-noselect {
  user-select: none !important; }

.text-break {
  word-wrap: break-word !important;
  word-break: break-all !important; }

.text-marquee {
  font-size: 32px !important; }
  @media (min-width: 576px) {
    .text-marquee {
      font-size: 40px !important; } }
  @media (min-width: 768px) {
    .text-marquee {
      font-size: 48px !important; } }

.text-billboard {
  font-size: 60px !important; }
  @media (max-width: 991.98px) {
    .text-billboard {
      font-size: 54px !important; } }

.text-billboard-title {
  font-size: 36px !important; }

.text-billboard-subtitle {
  font-size: 20px !important; }

.text-subheading {
  text-transform: uppercase !important;
  font-weight: bold !important;
  margin-bottom: 10px !important; }

.text-primary, .text--primary {
  color: #00bceb !important; }

.text-secondary, .text--secondary {
  color: #00bceb !important; }

.text-default, .text--default {
  color: #58585b !important; }

.text-cta, .text--cta {
  color: #6ebe4a !important; }

.text-info, .text--info {
  color: #017CAD !important; }

.text-success, .text--success {
  color: #6ebe4a !important; }

.text-danger, .text--danger {
  color: #e2231a !important; }

.text-warning, .text--warning {
  color: #fbab18 !important; }

.text-warning-alt, .text--warning-alt {
  color: #ffcc00 !important; }

.text-turquoise, .text--turquoise {
  color: #14a792 !important; }

.text-default-color {
  color: #58585b !important; }

.text-blue {
  color: #017CAD !important; }

.text-darkgreen {
  color: #487B32 !important; }

.text-dkgray-1 {
  color: #39393b !important; }

.text-dkgray-4 {
  color: #7f7f86 !important; }

.text-indigo, .text--indigo {
  color: #005073 !important; }

.text-vibrant {
  color: #017CAD !important; }

.inline-qtr-spacing > * + * {
  margin-left: 5px; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.qtr-margin {
  margin: 5px !important; }

.qtr-margin-top {
  margin-top: 5px !important; }

.qtr-margin-right {
  margin-right: 5px !important; }

.qtr-margin-bottom {
  margin-bottom: 5px !important; }

.qtr-margin-left {
  margin-left: 5px !important; }

.half-margin {
  margin: 10px !important; }

.half-margin-top {
  margin-top: 10px !important; }

.half-margin-right {
  margin-right: 10px !important; }

.half-margin-bottom {
  margin-bottom: 10px !important; }

.half-margin-left {
  margin-left: 10px !important; }

.base-margin {
  margin: 20px !important; }

.base-margin-top {
  margin-top: 20px !important; }

.base-margin-right {
  margin-right: 20px !important; }

.base-margin-bottom {
  margin-bottom: 20px !important; }

.base-margin-left {
  margin-left: 20px !important; }

.dbl-margin {
  margin: 40px !important; }

.dbl-margin-top {
  margin-top: 40px !important; }

.dbl-margin-right {
  margin-right: 40px !important; }

.dbl-margin-bottom {
  margin-bottom: 40px !important; }

.dbl-margin-left {
  margin-left: 40px !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.qtr-padding {
  padding: 5px !important; }

.qtr-padding-top {
  padding-top: 5px !important; }

.qtr-padding-right {
  padding-right: 5px !important; }

.qtr-padding-bottom {
  padding-bottom: 5px !important; }

.qtr-padding-left {
  padding-left: 5px !important; }

.half-padding {
  padding: 10px !important; }

.half-padding-top {
  padding-top: 10px !important; }

.half-padding-right {
  padding-right: 10px !important; }

.half-padding-bottom {
  padding-bottom: 10px !important; }

.half-padding-left {
  padding-left: 10px !important; }

.base-padding {
  padding: 20px !important; }

.base-padding-top {
  padding-top: 20px !important; }

.base-padding-right {
  padding-right: 20px !important; }

.base-padding-bottom {
  padding-bottom: 20px !important; }

.base-padding-left {
  padding-left: 20px !important; }

.dbl-padding {
  padding: 40px !important; }

.dbl-padding-top {
  padding-top: 40px !important; }

.dbl-padding-right {
  padding-right: 40px !important; }

.dbl-padding-bottom {
  padding-bottom: 40px !important; }

.dbl-padding-left {
  padding-left: 40px !important; }

@media (max-width: 575.98px) {
  .padding-none-xs {
    padding: 0 !important; } }

*[disabled], .disabled {
  opacity: 0.75;
  cursor: not-allowed !important;
  pointer-events: none !important;
  z-index: 0 !important; }

.readonly {
  opacity: 0.5;
  cursor: not-allowed !important;
  z-index: 0 !important; }

.blurred {
  pointer-events: none !important;
  filter: blur(5px) !important; }

.clearfix:after {
  clear: both !important;
  content: "" !important;
  display: table !important; }

.absolute-center {
  z-index: 10 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }
  .absolute-center--top {
    top: 30% !important; }
  .absolute-center--right {
    left: 70% !important; }
  .absolute-center--bottom {
    top: 70% !important; }
  .absolute-center--left {
    left: 30% !important; }

.absolute-top {
  position: absolute !important;
  top: 0 !important; }

.absolute-bottom {
  position: absolute !important;
  bottom: 0 !important; }

.absolute-left {
  position: absolute !important;
  left: 0 !important; }

.absolute-right {
  position: absolute !important;
  right: 0 !important; }

.absolute-top-half-negative {
  position: absolute !important;
  top: -50%; }

.pull-left {
  float: left !important; }

.pull-center {
  float: center !important; }

.pull-right {
  float: right !important; }

.opacity-10 {
  opacity: .10 !important; }

.opacity-20 {
  opacity: .20 !important; }

.opacity-30 {
  opacity: .30 !important; }

.opacity-40 {
  opacity: .40 !important; }

.opacity-50 {
  opacity: .50 !important; }

.opacity-60 {
  opacity: .60 !important; }

.opacity-70 {
  opacity: .70 !important; }

.opacity-80 {
  opacity: .80 !important; }

.opacity-90 {
  opacity: .90 !important; }

.rotate-30 {
  transform: rotate(30deg) !important; }

.rotate-45 {
  transform: rotate(45deg) !important; }

.rotate-60 {
  transform: rotate(60deg) !important; }

.rotate-90 {
  transform: rotate(90deg) !important; }

.rotate-135 {
  transform: rotate(135deg) !important; }

.rotate-180 {
  transform: rotate(180deg) !important; }

.rotate-225 {
  transform: rotate(225deg) !important; }

.rotate-270 {
  transform: rotate(270deg) !important; }

.rotate-315 {
  transform: rotate(315deg) !important; }

.flex {
  display: flex !important; }

.flex-inline {
  display: inline-flex !important; }

.flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; }

.flex-center-vertical {
  display: flex !important;
  align-items: center !important; }

.flex-center-horizontal {
  display: flex !important;
  justify-content: center !important; }

.flex-fluid {
  flex: 1 !important;
  flex-shrink: 1 !important;
  flex-wrap: wrap !important; }

.flex-inline-center-horizontal {
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: center !important; }

.flex-inline-center-vertical {
  display: inline-flex !important;
  justify-content: center !important; }

.flex-align-end {
  align-items: flex-end !important; }

.flex-align-start {
  align-items: flex-start !important; }

.flex--compressed > * {
  flex-basis: 10px !important; }

.flex--regular > * {
  flex-basis: 20px !important; }

.flex--loose > * {
  flex-basis: 40px !important; }

.flex-right {
  justify-content: flex-end !important; }

@media (max-width: 575.98px) {
  .flex-center-xs {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; } }

@media (max-width: 767.98px) {
  .text-center-sm {
    text-align: center !important; }
  .flex-center-sm {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; } }

@media (max-width: 1199.98px) {
  .text-center-lg {
    text-align: center !important; }
  .flex-center-lg {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; } }

.icon-action:before {
  line-height: 28px !important;
  font-size: 28px !important; }

.icon-huge:before {
  line-height: 84px !important;
  font-size: 84px !important; }

.icon-large:before {
  line-height: 56px !important;
  font-size: 56px !important; }

.icon-medium-large:before {
  line-height: 36px !important;
  font-size: 36px !important; }

.icon-medium:before {
  line-height: 28px !important;
  font-size: 28px !important; }

.icon-medium-small:before {
  line-height: 24px !important;
  font-size: 24px !important; }

.icon-small:before {
  line-height: 18px !important;
  font-size: 18px !important; }

.icon-tiny:before {
  line-height: 10px !important;
  font-size: 10px !important; }

.is-ios-device .hide-on-ios {
  display: none !important; }

.toggle {
  cursor: pointer !important; }

.v-separator {
  border-right: 1px solid #dfdfdf;
  margin: 5px 10px 5px 0;
  padding-left: 10px;
  display: inline-flex;
  vertical-align: middle;
  height: 15px; }
  .v-separator--small {
    height: 10px; }
  .v-separator--large {
    height: 20px; }
  .v-separator--huge {
    height: 40px; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.hide-overflow {
  overflow: hidden !important; }

.visible {
  visibility: visible !important; }

.invisible {
  visibility: hidden !important; }

.user-entered-data {
  white-space: pre-line !important; }

.small {
  font-size: 12px !important; }

@media (max-width: 767px) {
  .center-xs {
    text-align: center !important; }
  .pull-right-xs {
    float: right !important; }
  .pull-left-xs {
    float: left !important; }
  .visible-inline-xs {
    display: inline-block !important; } }

.row.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.disable-pointer {
  pointer-events: none !important; }

@media (max-width: 575px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl {
    display: none !important; } }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg
.visible-xl {
  display: none !important; }

@media (max-width: 575px) {
  .visible-xs {
    display: block !important; } }

@media (min-width: 576px) and (max-width: 767px) {
  .visible-sm {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-md {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-lg {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-xl {
    display: block !important; } }

@media (max-width: 767.98px) {
  .hidden-sm-down {
    display: none !important; } }

@media (max-width: 991.98px) {
  .hidden-md-down {
    display: none !important; } }

@media (max-width: 1199.98px) {
  .hidden-lg-down {
    display: none !important; } }

@media (max-width: 1439.98px) {
  .hidden-xl-down {
    display: none !important; } }

@media (max-width: 767.98px) {
  .visible-sm-down {
    display: block !important; } }

@media (max-width: 991.98px) {
  .visible-md-down {
    display: block !important; } }

@media (max-width: 1199.98px) {
  .visible-lg-down {
    display: block !important; } }

@media (max-width: 1439.98px) {
  .visible-xl-down {
    display: block !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

@media (min-width: 576px) {
  .visible-sm-up {
    display: block !important; } }

@media (min-width: 768px) {
  .visible-md-up {
    display: block !important; } }

@media (min-width: 992px) {
  .visible-lg-up {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-xl-up {
    display: block !important; } }

.max-height {
  height: 100% !important; }

.max-width {
  width: 100% !important; }

.no-link {
  color: #58585b !important;
  font-weight: inherit !important; }
  .no-link:hover, .no-link:focus {
    color: #007493 !important;
    text-decoration: none !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.opacity-10 {
  opacity: .10 !important; }
