/** @see sass/vendor/tooltip/balloon.scss (written with CUIK c1.3.4 as the current version in use) */
/* Status Colors (here from _variable.scss for documentation)
$status-blue: #64bbe3 !default;
$status-turq: #14a792 !default;
$status-green: #6cc04a !default;
$status-red: $accent-red !default;
$status-orange: $accent-orange !default;
$status-yellow: #ffcc00 !default;
*/
.summary-pane {
  position: absolute;
  right: 0;
  background-color: white;
  width: 400px;
  border-bottom: 1px solid #c6c7ca;
  border-left: 1px solid #017CAD;
  padding-top: 10px;
  height: 100%;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 24px -6px rgba(0, 0, 0, 0.25);
  overflow-y: auto; }
  .summary-pane > .summary-pane-buttons {
    color: #7f7f86;
    position: absolute;
    right: 10px; }
    .summary-pane > .summary-pane-buttons .link {
      padding: 10px; }
      .summary-pane > .summary-pane-buttons .link:hover {
        text-decoration: none; }

.summary-pane-content {
  display: flex;
  flex-direction: column;
  background-color: white; }
  .summary-pane-content > header .title-area {
    display: flex;
    padding-left: 12px; }
    .summary-pane-content > header .title-area .item-health {
      margin-right: 10px;
      font-size: 24px;
      display: flex;
      align-items: center; }
    .summary-pane-content > header .title-area .item-info {
      flex: 1; }
      .summary-pane-content > header .title-area .item-info .item-class {
        font-weight: bold;
        font-size: 80%; }
  .summary-pane-content > main {
    flex: 1;
    overflow-y: auto; }
    .summary-pane-content > main .widget-panel {
      margin: 0;
      border: 0; }
      .summary-pane-content > main .widget-panel > main {
        padding: 10px; }
        .summary-pane-content > main .widget-panel > main .widget-list {
          padding: 10px 0px;
          border-bottom: 1px solid #DFDFDF; }
        .summary-pane-content > main .widget-panel > main .app-widget-list {
          display: flex;
          padding: 10px 0px;
          border-bottom: 1px solid #DFDFDF; }
        .summary-pane-content > main .widget-panel > main .app-text-widget {
          color: #9E9EA2;
          font-size: 14px; }
    .summary-pane-content > main .property-list-item {
      width: 100%; }
