name: "Minimal Continuous Benchmark"
on:
  push:
    branches:
      - main

permissions: read-all

jobs:
  benchmark:
    name: Performance regression check
    runs-on: oracle-vm-8cpu-32gb-x86-64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          cache: false
          check-latest: true
          go-version: 1.25.x
      # Run benchmark with `go test -bench` and stores the output to a file
      - name: Run benchmark
        run: make BENCH_OUTPUT=ci-cd run-bench
      # Download previous benchmark result from cache (if exists)
      - name: Download previous benchmark data
        uses: actions/cache@v5
        with:
          path: ./cache
          key: ${{ runner.os }}-gen1-benchmark
      # Run `github-action-benchmark` action
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1.20.7
        with:
          # What benchmark tool the output.txt came from
          tool: 'customBiggerIsBetter'
          # Where the output from the benchmark tool is stored
          output-file-path: ci-cd.json
          # Where the previous data file is stored
          external-data-json-path: ./cache/benchmark-data.json
          # Workflow will fail when an alert happens
          fail-on-alert: true
          # Show data in the job summary
          summary-always: true
      # Upload the updated cache file for the next job by actions/cache
