name: "Ecosystem client tools"
on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
  release:
    types:
      - published

permissions: read-all

jobs:
  client-tools:
    name: Check client tools
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE
          go get -u github.com/swaggo/swag/cmd/swag
          go mod download
          sudo apt-get update
          sudo apt-get install libgpgme-dev libassuan-dev libbtrfs-dev libdevmapper-dev pkg-config rpm uidmap
          # install skopeo
          git clone -b v1.9.0 https://github.com/containers/skopeo.git
          cd skopeo
          make bin/skopeo
          sudo cp bin/skopeo /usr/bin
          skopeo -v
      - name: Run push-pull tests
        run: |
            make push-pull
      - name: Run metrics tests
        run: |
            make bats-metrics
      - name: Run cve tests
        run: |
            make bats-cve
      - name: Run sync test
        run: |
            make bats-sync
      - name: Run scrub tests
        run: |
            make bats-scrub
      - name: Run anonymous-push-pull tests
        run: |
            make anonymous-push-pull
