name: "Running tests"
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: read-all

jobs:
  test-run-minimal:
    name: Running zot without extensions tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install go
        uses: actions/setup-go@v6
        with:
          cache: false
          check-latest: true
          go-version: 1.25.x
      - name: Cache go dependencies
        id: cache-go-dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-
      - name: Install go dependencies
        if: steps.cache-go-dependencies.outputs.cache-hit != 'true'
        run: |
          cd $GITHUB_WORKSPACE
          go mod download
      - uses: ./.github/actions/setup-localstack
      - name: run zot minimal tests
        run: |
          cd $GITHUB_WORKSPACE
          make test-minimal
        env:
          S3MOCK_ENDPOINT: localhost:4566
          DYNAMODBMOCK_ENDPOINT: http://localhost:4566
          AWS_ACCESS_KEY_ID: fake
          AWS_SECRET_ACCESS_KEY: fake
      - name: upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-minimal
          path: coverage-minimal.txt
      - uses: ./.github/actions/teardown-localstack
  test-run-extensions:
    name: Run zot with extensions tests
    runs-on: oracle-vm-16cpu-64gb-x86-64
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          cache: false
          check-latest: true
          go-version: 1.25.x
      - name: Cache go dependencies
        id: cache-go-dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-
      - name: Install go dependencies
        if: steps.cache-go-dependencies.outputs.cache-hit != 'true'
        run: |
          cd $GITHUB_WORKSPACE
          go mod download
      - uses: ./.github/actions/setup-localstack
      - name: run zot extended tests
        run: |
          cd $GITHUB_WORKSPACE
          make test-extended
        env:
          S3MOCK_ENDPOINT: localhost:4566
          DYNAMODBMOCK_ENDPOINT: http://localhost:4566
          AWS_ACCESS_KEY_ID: fake
          AWS_SECRET_ACCESS_KEY: fake
      - name: upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-extended
          path: coverage-extended.txt
      - uses: ./.github/actions/teardown-localstack
  test-run-devmode:
    name: Running development-mode tests on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          cache: false
          check-latest: true
          go-version: 1.25.x
      - name: Cache go dependencies
        id: cache-go-dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-
      - name: Install go dependencies
        if: steps.cache-go-dependencies.outputs.cache-hit != 'true'
        run: |
            cd $GITHUB_WORKSPACE
            go mod download
      - name: run zot development-mode unit tests (possibly using failure injection)
        run: make test-devmode
      - name: upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-devmode
          path: coverage-dev-*.txt
  test-run-privileged:
    name: Running privileged tests on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          cache: false
          check-latest: true
          go-version: 1.25.x
      - name: Cache go dependencies
        id: cache-go-dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-mod-
      - name: Install go dependencies
        if: steps.cache-go-dependencies.outputs.cache-hit != 'true'
        run: |
            cd $GITHUB_WORKSPACE
            go mod download
      - uses: ./.github/actions/setup-gcs-storage-testbench
      - name: run zot privileged tests
        run: >
          sudo env
          "PATH=$PATH"
          "GCSMOCK_ENDPOINT=$GCSMOCK_ENDPOINT"
          "STORAGE_EMULATOR_HOST=$STORAGE_EMULATOR_HOST"
          make privileged-test
        env:
          GCSMOCK_ENDPOINT: http://localhost:9000/
          STORAGE_EMULATOR_HOST: localhost:9000
      - name: upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-needprivileges
          path: coverage-needprivileges-*.txt
      - uses: ./.github/actions/teardown-gcs-storage-testbench
  test-coverage:
    name: Collect all test coverage
    runs-on: ubuntu-latest
    if: always()
    needs: [test-run-minimal,test-run-extensions,test-run-devmode,test-run-privileged]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          cache: false
          check-latest: true
          go-version: 1.25.x
      - name: download all workflow coverage files
        uses: actions/download-artifact@v7
      - name: merge code coverage
        run: |
          cd $GITHUB_WORKSPACE
          cp coverage-minimal/* .
          cp coverage-extended/* .
          cp coverage-devmode/* .
          cp coverage-needprivileges/* .
          make covhtml
          mkdir unified-coverage
          cp coverage.txt coverage.html unified-coverage/
      - name: upload unified-coverage as build artifact
        uses: actions/upload-artifact@v6
        with:
          name: unified-coverage
          path: unified-coverage/*
      - name: upload code coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

